<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <urlCompression doStaticCompression="true" />
        <rewrite>
            <rules>
                <clear />
                <rule name="Public" stopProcessing="true">
                    <match url="^public/(.*)" />
                    <conditions logicalGrouping="MatchAll" />
                </rule>
                <rule name="Forum" stopProcessing="true">
                    <match url="^forum" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" />
                </rule>
                <rule name="Routeur" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <caching>
            <profiles>
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
