@font-face {
 font-family: MgOpen Modata;
 src: url('http://www.progamemap.com/public/fonts/MGOPENM1.eot');
}
 @font-face {
 font-family: MgOpen Modata;
 src: url('http://www.progamemap.com/public/fonts/MgOpenModataRegular.ttf');
}
